@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-background {
    background-color: #010017;
    background-image: radial-gradient(at 100% 0, #00bfff03 0, transparent 30%), radial-gradient(at 52% 18%, #4d4dff03 0, transparent 40%), radial-gradient(at 0 0, #00ddff1a 0, transparent 30%);
  }

  .glass-morphism {
    border: 1px solid #929fe780;
    background: linear-gradient(153deg, #19183792, #1616318f);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }

  .move-on-path {
    offset-path: rect(auto auto auto auto round 9999px);
    animation: move-on-path 4s linear infinite;
    position: absolute;
  }

  @keyframes move-on-path {
    to {
      offset-distance: 100%;
    }
  }
}

body {
  color: #fff;
  background: #000;
}